.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
.gallery-image:hover {
  transform: scale(1.05);
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  list-style: none;
}
